{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}

    <div class="container my-5" style="min-height: 48.5pc;">
        <div class="row">
        
            <div class="text-center mt-5">
                <img src="{% static 'app/images/emptycart.png' %}" class="img-fluid img-thumbnail w-25" alt="" srcset="">
            </div>
            <h3 class='text-center mt-4' > You have no Product in your Cart.</h3>

            <a href="{% url 'home' %}" class='fs-3 text-center mt-5'>Add your favorite product to cart</a>
        </div>
    </div>

{% endblock main-content %}