{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5" style="min-height: 48.5pc;">
  <div class="row">
    <h3>Welcome Sonam</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
        <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
      </ul>
    </div>
    <div class="col-sm-8 offset-sm-1">
      <form action="" method="post" novalidate>{% csrf_token %}
        {% for input in form.visible_fields  %}
        <div class="form-group col-lg-6 mb-3">
          {{input.label_tag}}
          {{input|add_class:'form-control'}}
          {{input.errors}}
        </div>
        {% endfor %}
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}