{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}
{% block main-content %}
<div class="container my-5" style="min-height: 48.5pc;">
    <div class="row">
        <div class="col-sm-12">
            <p>Your search result for: <b class='fs-5 m-2' >{{query}}</b> </p>
            <div style="display: flex; margin: 2px; flex-wrap: wrap;">
                {% for product in products %}
                    <a id='product_cart' class='m-2' href="{% url 'product-detail' product.id %}">
                        <div class="card" style="width: 18rem;">
                            <img src="{{product.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name|slice:":20"}}..</h5>
                                <p class="card-text">{{product.description|slice:":50"}}..</p>
                                <a href="#" class="btn btn-primary">add to cart</a>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}